#root{
    width: 100%;
    margin: auto;
    max-width: 46em;
    height: calc(100vh - 14px);
    display: flex;
    flex-direction: column;
    padding-top: 14px;
    row-gap: 14px;
}

input[type=text] , textarea{
    font-size: 18px;
    padding: 10px 12px;
    border-radius: 5px;
    border: 2px solid #f0f0f0;
    background-color: transparent;
    resize: vertical;
}
.social{
    display: flex;
    flex-direction: row;
    gap: 14px;
    width: 100%;
    justify-content: space-between;
    position: relative;
}
.social .back{
    display: flex;
    font-size: 22px;
    align-items: center;
    gap: 14px;
    background-color: #f0f0f0;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.nav input{
    width: 49%;
}
input[type=button]{
    font-size: 18px;
    padding: 12px 16px;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
}
.details{
    display: flex;
    font-size: 22px;
    align-items: center;
    overflow-wrap: anywhere;
    gap: 14px;
    background-color: #f0f0f0;
    padding: 0 12px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}
.moreDetails{
    position: absolute;
    right: 0;
    top: 52px;
    background-color: #f0f0f0;
    z-index: 1;
    padding: 6px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid #00000024;
}
.moreDetails div{
    font-size: 20px;
    padding: 10px 26px;
    border-radius: 5px;
    display: flex;
    gap: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}
.moreDetails div:hover , .details:hover{
    background-color: #dbdbdb;
}
.mainTitle{
    display: flex;
    align-items: center;
    font-size: 22px;
}
